// Part of the pitcher github.com/gruncho/stylestree
//
// For the full copyright and license information, please view the LICENSE
// file that was distributed with this source code.
//
// @author Alex M. Gorgal (@gruncho) <alex@worldx3.com>

// http://chir.ag/projects/name-that-color/
//
// Use the above URL to obtain the name of the hexadecimals,
// and please, try to order from higher hex value to lower
// hex value.

// basic

$color-white: #fff;
$color-black: #000;
$color-bck: #F4F4F4;
$color-ligth-gray: #d8d8d8;

// colors corporative

$color-gray: #a4a3a3;
$color-dark-gray: #808080;
$color-pumpkin-orange: #fa8513;
$color-milk-chocolate: #66211c;
$color-pumpkin-orang-hover: #d06700;

// revise

$color-corporative: #004C97;

